<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">用户管理</li>
</ol>
<div class="center-block">
  <form class='button_to' method='post' action='users/batchDelete'>
  <div class="col-md-2">
    <%=link_to '新增', new_user_path,class: 'btn btn-primary btn active' %>
    <input value='删除' type='submit' data-disable-with='加载...' class= 'btn btn-primary btn active' data-confirm='你确定要删除吗?' remote ='true'/>
    <p id="notice"><%= notice %></p>
  </div>
  <br><br>

  <%= grid(@users) do |g|
    g.action_column param_name:'sFlag' do |task|
      true
    end
    g.column name: 'id'  do |section|
      section.id
    end
    g.column name: '名字' , attribute: 'name'  do |section|
      section.name
    end
    g.column name: '邮箱', attribute: 'email' do |section|
      section.email
    end
    g.column name: 'qq' , attribute: 'qq' do |section|
      section.qq
    end
    g.column name: '电话'  , attribute: 'tel'do |section|
      section.tel
    end

    g.column  do |section|
      link_to('修改', edit_user_path(section))
    end
  end -%>
  </form>
</div>
