<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li class="active">菜单管理</li>
</ol>
<div class="center-block">
  <form class='button_to' method='post' action='sections/batchDelete'>
    <div class="col-md-2">
      <%=link_to '新增',new_section_path,class: 'btn btn-primary btn active'%>
      <input value='删除' type='submit' data-disable-with='加载...' class= 'btn btn-primary btn active' data-confirm='你确定要删除吗?' remote ='true'/>
      <p id="notice"><%= notice %></p>
    </div>
    <br><br>

            <%= grid(@sections) do |g|
              g.action_column do |task|
                true
              end
              g.column name: 'id'  do |section|
                section.id
              end
              g.column name: '操作名称' , attribute: 'name'  do |section|
                section.name
              end
              g.column name: '请求URL', attribute: 'url' do |section|
                section.url
              end
              g.column name: '排序' do |section|
                section.sort
              end
              g.column  do |section|
                link_to('修改', edit_section_path(section))
              end

            end -%>
      </form>
  </div>


